body {
  background-color: hsl(190, 5%, 77%);
}
.container {
  max-width: 500px;
  display: block;
  margin: 70px auto;
  background: white;
  padding: 40px 40px;
  border-radius: 6px;
}
strong {
  color: #dc2f2f;
}
footer {
  margin-top: 40px;
}
.city {
  background-color: hsl(190, 5%, 77%);
  border: 1px solid #ffebbb;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
  font-size: 15px;
}
.search {
  background-color: #155263;
  padding: 20px;
  width: 20%;
  border: 1px solid #155263;
  border-radius: 5px;
  font-size: 15px;
  color: wheat;
}
.search::placeholder {
}
.break {
  opacity: 0.3;
}
.current-weather {
  display: flex;
}

.current-weather-icon {
  position: relative;
  top: 55px;
  left: 135px;
  width: 80px;
}
.current-weather-temp {
  position: relative;
  left: 130px;
  top: 50px;
  font-size: 70px;
  font-weight: 900;
}

.current-weather-unit {
  position: relative;
  top: 60px;
  left: 130px;
}
